@model CollectionManagerSite.Models.CompleteResults
@{
    ViewBag.Title = "Guardian Outfitter | Missing Shaders, Emblems, Ships & Sparrows";
}

<div class="prose">
    <p>Logged in at @Model.Info.username viewing @Model.GamingUsername (@Model.Console)</p>
   @Html.ActionLink("Sign Out", "Logout", "Authentication")
</div>

<div id="navigation" role="navigation" aria-label="Primary navigation" class="grid button-tabs--top">
    <!-- Start: Platform switcher-->
    <!-- Hide everything between comments when only one platform is available-->
    <!-- Need to switch `is-disabled` and `is-active` classes between buttons-->
    @if ((bool)ViewBag.DualConsole)
    {
        <div class="grid__item auto">
            <div class="button-tabs button-tabs--platform">
                <a href="?console=2" class="button button--playstation @((int) ViewBag.Console == 2 ? "is-active" : "is-disabled")">
                    <span class="icon icon--playstation">PlayStation</span>
                </a>
                <a href="?console=1" class="button button--xbox @((int) ViewBag.Console == 1 ? "is-active" : "is-disabled")">
                    <span class="icon icon--xbox">Xbox</span>
                </a>
            </div>
        </div>
    }
    <!-- End: Platform switch-->
    <div class="grid__item fablet-auto">
        <div id="switcher" class="button-tabs js-tab-controls"></div>
    </div>
</div>

 <!-- Start: Emblems-->
<section class="tab js-tab">
    <div class="prose">
        <h1 id="emblemH1">
            <a id="emblems" class="js-tab-heading">Emblems</a>
        </h1>
    </div>
    <div id="allEmblems">
        <div class="prose">
            <h2><span>Emblems</span></h2>
        </div>

        <div class="items js-toggle">
            <div class="prose">
                <h3 class="items__control js-toggle-control is-active">Obtained</h3>
            </div>
            <div class="grid items__content js-toggle-content">
                
            </div>
        </div>

        <div class="items js-toggle">
            <div class="prose">
                <h3 class="items__control js-toggle-control is-active">Still Missing</h3>
            </div>
            <div class="grid items__content js-toggle-content">
            @foreach (var emblem in Model.Emblems)
            {
                <div class="grid__item fablet-one-half tablet-one-third">
                    @{
                        var smallLink = $"https://www.bungie.net/{emblem.icon}";
                        var bgLink = $"https://www.bungie.net/{emblem.secondaryIcon}";
                    }
                    <div style="background-image: url('@bgLink')" class="item" data-id="1234">
                        <div class="grid grid--middled">
                            <div class="grid__item auto">
                                <div class="item__image">
                                    <img src="@smallLink" alt=""/>
                                </div>
                            </div>
                            <div class="grid__item one-half">
                                <div class="item__title">
                                    @emblem.name
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
        
    <div class="advert js-advert">
        <div class="content-center content-center--gutter"><ins data-ad-client="ca-pub-5655051109573002" data-ad-slot="2916154772" data-ad-format="auto" class="adsbygoogle"></ins></div>
    </div>
</section>

<!-- End: Emblems-->
<!-- Start: Sparrows-->
<section class="tab js-tab">
    <div class="prose">
        <h1 id="sparrowsH1">
            <a id="sparrows" class="js-tab-heading">Sparrows</a>
        </h1>
    </div>
    <div id="allSparrows">
        <div class="prose">
            <h2><span>Sparrows</span></h2>
        </div>
        <div class="items">
            <div class="prose">
                <h3 class="items__control js-toggle-control">Still Needed</h3>
            </div>
            <div class="grid items__content js-toggle-content">
                @foreach (var sparrow in Model.Sparrows)
                {
                    <div class="grid__item fablet-one-half tablet-one-third">
                        <div class="item">
                            <div class="grid grid--middled">
                                <div class="grid__item auto">
                                    <div class="item__image">
                                        <img src="@($"https://www.bungie.net{sparrow.icon}")" alt="" />
                                    </div>
                                </div>
                                <div class="grid__item one-half">
                                    <div class="item__title">
                                        @sparrow.name
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="advert js-advert">
        <div class="content-center content-center--gutter">
            <ins data-ad-client="ca-pub-5655051109573002" data-ad-slot="2916154772" data-ad-format="auto" class="adsbygoogle"></ins>
        </div>
    </div>
</section>
<!-- End: Sparrows-->
<!-- Start: Ships-->
<section class="tab js-tab">
    <div class="prose">
        <h1 id="shipsH1">
            <a id="ships" class="js-tab-heading">Ships</a>
        </h1>
    </div>
    <div id="allShips">
        <div class="prose">
            <h2><span>Ships</span></h2>
        </div>
        <div class="items">
            <div class="prose">
                <h3 class="items__control js-toggle-control">Still Needed</h3>
            </div>
            <div class="grid items__content js-toggle-content">
                @foreach (var ship in Model.Ships)
                {
                    <div class="grid__item fablet-one-half tablet-one-third">
                        <div class="item">
                            <div class="grid grid--middled">
                                <div class="grid__item auto">
                                    <div class="item__image">
                                        <img src="@($"https://www.bungie.net{ship.icon}")" alt="" />
                                    </div>
                                </div>
                                <div class="grid__item one-half">
                                    <div class="item__title">
                                        @ship.name
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="advert js-advert">
        <div class="content-center content-center--gutter">
            <ins data-ad-client="ca-pub-5655051109573002" data-ad-slot="2916154772" data-ad-format="auto" class="adsbygoogle"></ins>
        </div>
    </div>
</section>
<!-- End: Sparrows-->

<div class="button-tabs button-tabs--bottom js-tab-controls"></div>




